# Variables de entorno — nunca subir al repo
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Django
src/staticfiles/
src/mediafiles/
*.sqlite3

# Docker
postgres_data/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini